@tailwind base;
@tailwind components;
@tailwind utilities;

.deep{
    background: rgb(129, 129, 129);
}

.glass{
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(107, 107, 107, 0.75);
}

.nav a{
    position: relative;
    font-weight: 500;
}
.nav a::after{ 
    content: '';
    position: absolute;
    bottom: -26px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: rgb(239 68 68);
    transition: all 0.3s;
}

.nav a:hover::after{
    width: 100%;
}